/* @import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap");
@import "tailwindcss";
@import "./typography.css";

@theme {
  --font-mono:
    "Google Sans Code", "Noto Sans SC", "Microsoft YaHei", "Yu Gothic", "ui-sans-serif",
    "system-ui", "sans-serif", "apple color emoji", "segoe ui emoji", "segoe ui symbol",
    "noto color emoji", monospace;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;
}

html[data-theme="dark"] {
  --background: #212737;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #343f60;
  --border: #ab4b08;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    font-size: 16px;
    @variant sm {
      font-size: 16px;
    }
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply bg-background text-foreground selection:bg-accent/75 selection:text-background flex min-h-svh flex-col font-mono;
  }
  a,
  button {
    @apply outline-accent outline-offset-1 focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply max-w-app mx-auto px-4;
  }
}

@utility max-w-app {
  @apply max-w-3xl;
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}

/* Source: https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 1rem;
}

[data-callout="note"] {
  --rc-color-light: var(--callout-note-color-light, #0969da);
  --rc-color-dark: var(--callout-note-color-dark, #2f81f7);
}

[data-callout="tip"] {
  --rc-color-light: var(--callout-tip-color-light, #1a7f37);
  --rc-color-dark: var(--callout-tip-color-dark, #3fb950);
}

[data-callout="important"] {
  --rc-color-light: var(--callout-important-color-light, #8250df);
  --rc-color-dark: var(--callout-important-color-dark, #a371f7);
}

[data-callout="warning"] {
  --rc-color-light: var(--callout-warning-color-light, #9a6700);
  --rc-color-dark: var(--callout-warning-color-dark, #d29922);
}

[data-callout="caution"] {
  --rc-color-light: var(--callout-caution-color-light, #d1242f);
  --rc-color-dark: var(--callout-caution-color-dark, #d1242f);
}

.callout {
  --rc-color-default: #888;

  width: 100%;
  padding: 0.5rem 1rem;
  border-left: 0.25em solid var(--rc-color-light, var(--rc-color-default));
  margin-bottom: 1rem;
}

html[data-theme="dark"] .callout {
  border-left-color: var(--rc-color-dark, var(--rc-color-default));
}

.callout-title {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  color: var(--rc-color-light, var(--rc-color-default));
  font-weight: 500;
  line-height: 1;
}

html[data-theme="dark"] .callout-title {
  color: var(--rc-color-dark, var(--rc-color-default));
}

.callout-title::-webkit-details-marker {
  display: none;
}

.callout-title-icon svg {
  overflow: visible !important;
  display: inline-block;

  vertical-align: text-bottom;

  fill: currentColor;
}

.callout-content > :first-child {
  margin-top: 1rem;
}

.callout-content > :last-child {
  margin-bottom: 0;
}

.callout[data-collapsible="true"] .callout-title {
  cursor: pointer;
}

.callout[data-collapsible="true"] .callout-fold-icon {
  display: flex;
  align-items: center;
  padding-inline-end: 8px;
}

.callout[data-collapsible="true"] > .callout-title .callout-fold-icon svg {
  transform: rotate(-90deg);
  transition: transform 100ms ease-in-out;
}

.callout[data-collapsible="true"][open] > .callout-title .callout-fold-icon svg {
  transform: none;
}

.callout-fold-icon {
  margin-left: -2px;
}
